<div class="wrapper__sm">
  <%= form_with url: new_spot_path, method: :get, local: true do |f| %>
    <div class='form-group'>
      <%= f.label :spot_name, class: "d-none" %>
      <%= f.text_area :search_name, placeholder: "スポット名を入力してください", class: 'textarea' %>
    </div>
    <div>
      <%= f.submit '検索', class: 'btn btn-secondary btn-block' %>
    </div>
  <% end %>
</div>
