<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>名称</th>
        <th>所在地</th>
        <th>住所</th>
      </tr>
    </thead>
    <tbody>
      <% @spots.each do |spot| %>
        <tr>
          <td><%= link_to spot.name, spot, data: { "turbolinks" => false } %></td>
          <td><%= spot.state %></td>
          <td><%= spot.address %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
