<div>
  <%= button_tag type: "button", onclick: "getPosition();", class: "w-100 btn btn-primary" do %>
    現在地周辺で探す
  <% end %>
</div>

<p class="mt-5">キーワードで探す</p>

<%= render 'search_form' %>

<!--
<div id="map"></div>

<%= button_tag type: "button", onclick: "initMap();" do %>
  現在地
<% end %>
-->

<!-- GoogleMap -->
<script>
  // let map;

  // 初期表示：スカイツリー
  // function initMap(){
  //   LatLng = { lat: 35.710063, lng: 139.8107 };

  //   map = new google.maps.Map(document.getElementById('map'), {
  //     center: LatLng,
  //     zoom: 17,
  //   });

  //   marker = new google.maps.Marker({
  //     position: LatLng,
  //     map: map
  //   });
  // }

  // 初期表示：現在地
  // function initMap() {
  //   // 位置情報を取得
  //   navigator.geolocation.getCurrentPosition(function (position) {

  //     LatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

  //     // 取得した位置情報を中心に表示
  //     map = new google.maps.Map(document.getElementById('map'), {
  //       center: LatLng,
  //       zoom: 17
  //     });

  //     marker = new google.maps.Marker({
  //       position: LatLng,
  //       map: map
  //     });
  //   });
  // }

  // 現在地取得処理
  function getPosition() {
    // 現在地を取得
    navigator.geolocation.getCurrentPosition(
      // 取得成功した場合
      function(position) {
        window.location.href = "/spots/search_location?latitude="+position.coords.latitude+"&longitude="+position.coords.longitude
       },
      // 取得失敗した場合
      function(error) {
        switch(error.code) {
          case 1: //PERMISSION_DENIED
            alert("位置情報の利用が許可されていません");
            break;
          case 2: //POSITION_UNAVAILABLE
            alert("現在位置が取得できませんでした");
            break;
          case 3: //TIMEOUT
            alert("タイムアウトになりました");
            break;
          default:
            alert("その他のエラー(エラーコード:"+error.code+")");
            break;
        }
      }
    );
  }
</script>

<!--
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.gmap[:api_key] %>&callback=initMap" async defer></script>
-->
