<div>
  <%= button_tag type: "button", onclick: "getPosition();", class: "btn btn-lg btn-success btn-block" do %>
    <i class="fas fa-location-arrow"></i>　現在地周辺
  <% end %>
</div>

<p class="mt-5">キーワードで探す</p>

<%= render 'search_form' %>

<!-- GoogleMap -->
<script>
  // 現在地取得処理
  function getPosition() {
    // 現在地を取得
    navigator.geolocation.getCurrentPosition(
      // 取得成功した場合
      function(position) {
        window.location.href = "/spots/search_location?latitude="+position.coords.latitude+"&longitude="+position.coords.longitude
       },
      // 取得失敗した場合
      function(error) {
        switch(error.code) {
          case 1: //PERMISSION_DENIED
            alert("位置情報の利用が許可されていません");
            break;
          case 2: //POSITION_UNAVAILABLE
            alert("現在位置が取得できませんでした");
            break;
          case 3: //TIMEOUT
            alert("タイムアウトになりました");
            break;
          default:
            alert("その他のエラー(エラーコード:"+error.code+")");
            break;
        }
      }
    );
  }
</script>
