<div>
  <%= form_with url: "/search/search", method: :get do |f| %>
    <div class="form-group">
      <%#= f.label :キーワードで探す %>
      <%= f.text_area :search_keyword, :placeholder => "仏像名、地名、住所、ユーザー名、ハッシュタグ(#不要)", class: "form-control", rows: "1" %>
    </div>
    <div>
      <%= f.submit "検索", class: "btn btn-lg btn-secondary btn-block" %>
    </div>
  <% end %>

  <div id="search_result">
    <% unless @spots_search_result %>
      <%= render "search/result" %>
    <% end %>
  </div>
</div>
