<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>名称</th>
        <th>よみがな</th>
        <th>カテゴリ</th>
        <th>説明</th>
      </tr>
    </thead>
    <tbody>
      <% @statues.each do |statue| %>
        <tr>
          <td><%= link_to statue.name, statue %></td>
          <td><%= statue.ruby %></td>
          <td><%= statue.grade %></td>
          <td><%= statue.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
