<% if user_signed_in? %>
  <% if current_user.already_liked?(post) %>
    <%= link_to 'いいねを取り消す', post_like_path(post, post.likes), method: :delete, remote: true %>
  <% else %>
    <%= link_to 'いいね', post_likes_path(post), method: :post, remote: true %>
  <% end %>
<% end %>

<p>いいねの数：<%= post.likes_count(post) %></p>

<% if post.likes.any? %>
  <p>いいねしたユーザ：
    <% post.liked_users.each do |user| %>
      <%= link_to user.name, user %>
    <% end %>
  </p>
<% end %>