<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ユーザ名</th>
        <th>Eメール</th>
        <th>管理者権限</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.admin %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
