<% if user_signed_in? %>
  <%= link_to '投稿する', new_post_path %>
<% end %>

<div>
  <ol>
    <% if user_signed_in? %>
      <% if @feed_items.any? %>
        <%= render @feed_items %>
      <% end %>
    <% end %>  
  </ol>
</div>