<% if user_signed_in? %>
  <% if @feed_items.any? %>
    <div class="jscroll">
      <%= render partial: 'posts/post', collection: @feed_items %>
      <span class="d-none"><%== pagy_nav(@pagy) %></span>
    </div>
  <% else %>
    <div class="text-center">
      <%= link_to "みんなの投稿を見る", posts_latest_path %>
    </div>
  <% end %>
<% end %>

<script>
  $(function() {
    $('.jscroll').jscroll({
      loadingHtml: '読み込み中',
      contentSelector: '.jscroll',
      nextSelector: 'span.next:last a'
    });
  });
</script>
