body {
  padding-top: 60px;
  // padding-bottom: 100px;
  background-color: #f5f5f5;
  // font-family: "kleeone"
}

ol,ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

a {
  color: #000;
}

a:hover {
  color: #696969;
  text-decoration: none;
}

a.hashtag {
  color: #4169e1;
}

a.hashtag:hover {
  color: #6495ed;
}

nav {
  margin-top: -60px;
}

nav .brand {
  // font-family: fantasy;
  // font-family: "kleeone"
  font-weight: bold;
}

@font-face {
  font-family: "kleeone";
  src: url('../fonts/KleeOne-Regular.ttf');
}

// footer {
//   padding-top: 30px;
//   font-size: 0.9em;
//   text-align: center;
//   color: #808080;
// }

.flash .alert {
  margin-bottom: 0px;
}

.footerFixed {
  min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
  position: relative;/* ←相対位置 */
  padding-bottom: 120px; /* ←フッターの高さを指定 */
  box-sizing: border-box;
  /* ↑ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
}

footer {
  position: absolute;/* ←絶対位置 */
  bottom: 0;
  width: 100%;
  padding: 10px 0px;
  font-size: 0.8em;
  color: #696969;
  background: #dcdcdc;
  text-align: center;
}

footer a {
  color: #696969;
}

footer p {
  margin: 5px;
}

.jumbotron {
  margin-top: -60px;
  margin-bottom: 20px;
  height: 500px;
  border-radius: 0;
  background: url("../images/bg-image.jpg") center no-repeat;
  background-size: cover;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}

.jumbotoron h1 {
  font-weight: bold;
}

.counter div {
  text-align: center;
  width: 100px;
}

.counter span {
  font-weight: bold;
  font-size: 1.5em;
}

.error_message {
  color: red; 
}

.text-sm-gray {
  color: #808080;
  font-size: 0.9em;
}

.user__icon__20 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
  object-fit: contain;
}

.user__icon__40 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
  object-fit: contain;
}

.wrapper {
  margin: 0 auto 20px;
  padding: 20px;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
  background-color: #fff;
}

.wrapper h2 {
  // margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-size: 1.2em;
  font-weight: bold;
}

.wrapper__sm {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #eee;
  border-radius: 5px;
  background-color: #fff;
}

.wrapper__sm h2 {
  // margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-size: 1.2em;
  font-weight: bold;
  // text-align: center;
}

// 認証画面

.session {
  width: 400px;
  height: auto;
  margin: 60px auto 0px;
  padding: 30px;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
  // background-color: rgba(255,255,255,0.85);
  background-color: #fff;
  font-size: 0.9em;
  font-weight: bold;
}

.session h2 {
  // margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.session .brand {
  text-align: center;
  font-family: fantasy;
  font-size: 30px;
}

.session__shared__link {
  width: 400px;
  height: auto;
  margin: 10px auto 0px;
  padding: 20px;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
  // background-color: rgba(255,255,255,0.85);
  background-color: #fff;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
}

.session__shared__link a {
  color: #4169e1;
}

.session__shared__link a:hover {
  color: #6495ed;
}

// プロフィール

.profile {
  display: flex;
  height: 200px;
}

.profile__left__side {
  width: 200px;
  height: 100%;
  margin-right: 20px;
  padding: 10px;
}

.profile__figure {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}

.profile__image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}

.profile__right__side {
  height: 100%;
  padding: 10px;
}

.profile__button {
  margin-bottom: 10px;
}

.profile__name {
  margin-bottom: 5px;
  font-weight: bold;
}

.profile__body {

}

.profile__edit p {
  // margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-size: 1.1em;
  font-weight: bold;
  // text-align: center;
}

.profile__edit__image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

// 投稿内容

.slick__arrows {
  background-color: #000;
}

.post {
  max-width: 600px;
  height: auto;
  margin: 0 auto 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #fff;
  font-size: 0.9em;
}

.post__header {
  height: 70px;
  padding: 0px 15px;
  border-bottom: 1px solid #eee;
}

.post__header__aside {
  display: table-cell;
  height: 69px;
  vertical-align: middle;
}

.post__figure {
  position: relative;
  width: 100%;
  height: 100%;
}

.post__image {
  max-width: 100%;
  height: auto;
}

.multiple__images {
  position: absolute;
  top: 2%;
  left: 2%;
  color: #a9a9a9;
}

.post__body {
  padding: 15px;
}

.post__action {
}

.post__copy {
  max-height: 180px;
  margin-top: 5px;
}

.user__and__location {
  display: inline-block;
  vertical-align: middle;
}

.user__name {
  font-weight: bold;
  vertical-align: middle;
}
 
.user__post__location {
  color: #a9a9a9;
  line-height: 1;
}

.user__post__item {
  height: auto;
  margin-bottom: 30px;
}

.user__post__item__figure {
  position: relative;
 	width: 100%;
  height: 100%;
  background-color: #fff;
}

.user__post__item__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  // object-fit: cover;
}

.user__post__item__figure .caption {
  padding-top: 50%;
  color: #fff;
  text-align: center;
}

.user__post__item__figure .mask {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}

.user__post__item:hover .mask {
  opacity: 1;
}

.comment__body {
  max-height: 450;
  padding: 0px 15px 0px 15px;
}

.comment__scroll__area {
  max-height: 450px;
  overflow: auto;
}

.comment__copy {
  display: flex;
  margin-bottom: 20px;
}

.time {
  color: #a9a9a9;
  font-size: 0.9em;
}

.comment__link {
  color: #a9a9a9;
  font-size: 0.9em;
}

.post__show__footer {
  margin-top: 10px;
  text-align: center;
}

.comment__form {
  padding: 10px;
  border-top: 1px solid #eee;
}

// 地図

#map {
  height: 400px;
  width: 100%;
  border-radius: 5px;
}

.spot #map {
  height: 300px;
  width: 100%;
  border-radius: 5px;
}

// ステップバー

.cp_stepflow07 {
	font-size: 80%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 0 1em;
	padding: 0;
}
.cp_stepflow07 > li {
	position: relative;
	display: block;
	width: auto;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	text-overflow: ellipsis;
	color: #b0bec5;
  -ms-flex: 1;
	-moz-flex: 1;
	-webkit-box-flex: 1;
  flex: 1;
}
.cp_stepflow07 > li .bubble::after,
.cp_stepflow07 > li .bubble::before {
	position: absolute;
	top: 0px;
	right: 50%;
	left: 50%;
	display: block;
	width: 90%;
	height: 8px;
	content: '';
	transform: translateX(-50%);
	background-color: #b0bec5;
}
.cp_stepflow07 > li .bubble + span {
	display: block;
	margin-top: 1em;
}
.cp_stepflow07 > li.completed,
.cp_stepflow07 > li.completed .bubble {
	color: #00acc1;
}
.cp_stepflow07 > li.completed .bubble,
.cp_stepflow07 > li.completed .bubble::after,
.cp_stepflow07 > li.completed .bubble::before {
	background-color: #4dd0e1;
}
.cp_stepflow07 > li.active,
.cp_stepflow07 > li.active .bubble {
	font-weight: bold;
	color: #f57c00;
}
.cp_stepflow07 > li.active .bubble,
.cp_stepflow07 > li.active .bubble::after,
.cp_stepflow07 > li.active .bubble::before {
	background-color: #fb8c00;
}

// 検索画面

.search {
  margin-top: 20px;
}

.search__buttons {
  padding: 15px;
}

.search__button__locations {
  width: 100%;
  height: 150px;
  border: 2px solid #eee;
  border-radius: 5px;
  background-image: url("../images/search_button_locations.jpg");
  background-position: -90px -100px;
  z-index: 0;
}

.search__button__statues {
  width: 100%;
  height: 150px;
  border: 2px solid #eee;
  border-radius: 5px;
  background-image: url("../images/search_button_statues.jpg");
  background-position: -90px -100px;
  z-index: 0;
}

.search__button__spots {
  width: 100%;
  height: 150px;
  border: 2px solid #eee;
  border-radius: 5px;
  background-image: url("../images/search_button_spots.jpg");
  background-position: -90px -120px;
  z-index: 0;
}

.search__button__posts {
  width: 100%;
  height: 150px;
  border: 2px solid #eee;
  border-radius: 5px;
  background-image: url("../images/search_button_posts.jpg");
  background-position: -50px -240px;
  z-index: 0;
}

.search__buttons .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 110px;
  padding-right: 20px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 5px;
  color: #fff;
  font-size: 1.1em;
  text-align: right;
}

.search__buttons .mask {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}

.search__button__locations:hover .mask {
  opacity: 1;
}

.search__button__statues:hover .mask {
  opacity: 1;
}

.search__button__spots:hover .mask {
  opacity: 1;
}

.search__button__posts:hover .mask {
  opacity: 1;
}

.search__result {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.textfield {	
  outline: 0;	
  width: 100%;
  height: 40px;
  padding: 0 0 0 10px;
  border: none;
  background: #f8f8ff;
}

.textarea {
  outline: 0;	
  width: 100%;
  height: 100%;
  padding: 5px;
  border: none;
  background: #f8f8ff;
  resize: none;
}

.search__textfield {	
  outline: 0;	
  width: 100%;
  height: 40px;
  padding: 0 0 0 10px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  background: #f8f8ff;
}

.search__btn {
  width: 100%;
  height: 40px;
  background: #6c757d;
  color: #fff;
  border: none;
  border-radius: 0px 5px 5px 0px;
}

.search__btn:hover {
  background: #f8f8ff;
  color: #696969;
}

.comment__textarea {
  outline: 0;	
  width: 100%;
  height: 100%;
  border: none;
  background: #fff;
  resize: none;
}

.comment__btn {
  width: 100%;
  height: 100%;
  border-radius: 0px 5px 5px 0px;
  background: #fff;
  color: #4169e1;
  border: none;
  font-weight: bold;
}

.comment__btn:hover {
  color: #6495ed;
}

.post__form p {
  margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-size: 1.1em;
  font-weight: bold;
  // text-align: center;
}

.spot__list__item {
  position: relative;
  // max-width: 600px;
  // height: 200px;
  // margin: 0 auto 5px;
  padding: 0px;
  border: 2px solid #eee;
  border-radius: 5px;
  background-color: #fff;
}

.spot__list__item h2 {
  font-size: 1em;
  font-weight: bold;
}

.spot__list__item__figure {
  width: 100%;
  height: 100px;
}

.spot__list__item__image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.spot__list__item__body {
  padding-top: 10px;
  font-size: 0.9em;
}

.spot__list__item__body p {
  margin-bottom: 5px;
}

.spot__list__item .mask {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  // background-color: rgba(255,255,255,0.2);
  background-color: rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}

.spot__list__item:hover .mask {
  opacity: 1;
}

.statue__list__item {
  position: relative;
  height: 295px;
  padding: 0px;
  border: 2px solid #eee;
  border-radius: 5px;
  background-color: #fff;
}

.statue__list__item__name {
  position: relative;
  height: 50px;
  padding: 0px;
}

.statue__list__item__name h3 {
  position: absolute;
  top: 50%;
  -webkit-transform : translateY(-50%);
  transform : translateY(-50%);
  margin: 0;
  padding: 0px 10px;
  font-size: 0.9em;
  font-weight: bold;
}

.statue__list__item__figure {
  width: 100%;
  height: 240px;
}

.statue__list__item__image {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #eee;
  border-radius: 5px 5px 0px 0px;
  object-fit: cover;
}

.statue__list__item .mask {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  // background-color: rgba(255,255,255,0.2);
  background-color: rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}

.statue__list__item:hover .mask {
  opacity: 1;
}

.statues h2 {
  margin-left: -15px;
  margin-bottom: 10px;
  padding: 10px;
  // padding-bottom: 10px;
  // border-bottom: 1px solid #696969;
  // border-bottom: 1px solid #eee;
  font-size: 1.4em;
  font-weight: bold;
}

.distance {
  font-size: 1.2em;
  color: #17a2b8;
}


.link {
  color: #4169e1;
}

.link:hover {
  color: #6495ed;
}