body {
  padding-top: 60px;
  background-color: #f5f5f5;
}

ol,ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

a {
  color: #000;
}

a:hover {
  color: #696969;
  text-decoration: none;
}

a.hashtag {
  color: #4169e1;
}

a.hashtag:hover {
  color: #6495ed;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.error_message {
  color: red; 
}

.user__icon__20 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
  object-fit: cover;
}

.user__icon__40 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
  object-fit: cover;
}

// プロフィール

.profile {
  display: flex;
  height: 200px;
}

.profile__left__side {
  width: 200px;
  height: 100%;
  margin-right: 20px;
  padding: 10px;
}

.profile__figure {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}

.profile__image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.profile__right__side {
  height: 100%;
  padding: 10px;
}

.profile__button {
  margin-bottom: 10px;
}

.profile__name {
  margin-bottom: 5px;
  font-weight: bold;
}

.profile__body {

}


// 投稿内容

.slick__arrows {
  background-color: #000;
}

.post {
  width: 600px;
  height: auto;
  margin: 0 auto 10px;
  background-color: #fff;
  font-size: 0.9em;
}

.post__header {
  height: 70px;
  padding: 0px 15px;
  border-bottom: 1px solid #eee;
}

.post__header__aside {
  display: table-cell;
  height: 69px;
  vertical-align: middle;
}

.post__figure {
  width: 100%;
  height: 100%;
}

.post__image {
  max-width: 100%;
  height: auto;
}

.post__body {
  padding: 15px;
}

.post__action {
}

.post__copy {
  max-height: 180px;
  margin-top: 5px;
}

.post__copy__scroll__area {
  max-height: 180px;
  overflow: auto;
}

.user__and__location {
  display: inline-block;
  vertical-align: middle;
}

.user__name {
  font-weight: bold;
  vertical-align: middle;
}
 
.user__post__location {
  color: #a9a9a9;
  line-height: 1;
}

.user__post__item {
  height: auto;
  margin-bottom: 30px;
}

.user__post__item__figure {
 	width: 100%;
  height: 100%;
  background-color: #fff;
}

.user__post__item__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.comment__body {
  max-height: 270px;
  padding: 0px 15px 15px 15px;
}

.comment__scroll__area {
  max-height: 255px;
  overflow: auto;
}

.comment__copy {
  display: flex;
  margin-bottom: 10px;
}

.time {
  color: #a9a9a9;
  font-size: 0.9em;
}

.comment__link {
  color: #a9a9a9;
}

.post__show__footer {
  margin-top: 10px;
  text-align: center;
}

.comment__form {
  padding: 10px;
  border-top: 1px solid #eee;
}


// 地図

#map {
  height: 400px;
  width: 100%;
}
