ol,ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

a {
  color: #000;
}

a:hover {
  color: #696969;
  text-decoration: none;
}

a.hashtag {
  color: #4169e1;
}

a.hashtag:hover {
  color: #6495ed;
}