<%= @error_messages %>

<div class="mt-3">
  <% if @error_message %>
    <div class="error_message">
      <%= @error_message %>
    </div>
  <% else %>
    <% if @spots_search_result.blank? %>
      <p>検索結果がありません</p>
    <% else %>
      <p class="text-danger">場所を選ぶと次へ進みます</p>
      <ol>
        <%= render partial: 'posts/spot', collection: @spots_search_result %>
      </ol>
    <% end %>
  <% end %>
</div>
