<div>
  <%= form_with url: "/posts/search", method: :get do |f| %>
    <div class="form-group">
      <%#= f.label :キーワードで探す %>
      <%= f.text_area :search_keyword, :placeholder => "地名や住所を入力してください", class: "form-control", rows: "1" %>
    </div>
    <div>
      <%= f.submit "検索", class: 'w-100 btn btn-secondary' %>
    </div>
  <% end %>

  <div id="search_result">
    <% unless @spots_search_result %>
      <%= render "posts/search_result" %>
    <% end %>
  </div>
</div>
