<li class="mb-2">
  <%= link_to new_post_path(spot_id: spot.id), method: :post do %>
    <strong><%= spot.name %></strong><br>
    <span class="text-sm-gray"><%= spot.address %></span>
  <% end %>
</li>
