<div class="container">

  <% unless user_signed_in? %>
    <p class="text-center mb-5">
      ログインすると画像を投稿したり、投稿にいいねやコメントができます！<br>
      <%= link_to 'ゲストでログインする', users_guest_sign_in_path, method: :post, class: 'link' %>
    </p>
  <% end %>

  <div class="jscroll">
    <div class="row">
      <%= render partial: "users/post", collection: @latest_posts %>
      <span class="d-none"><%== pagy_nav(@pagy) %></span>
    </div>
  </div>
</div>

<!-- jscroll -->
<script>
  $(function() {
    $('.jscroll').jscroll({
      loadingHtml: '読み込み中',
      contentSelector: '.jscroll',
      nextSelector: 'span.next:last a'
    });
  });
</script>
