<div class="wrapper__sm">
  <ul class="cp_stepflow07 mb-5">
    <li class="completed"><span class="bubble"></span><span>STEP 1：投稿場所の追加</span></li>
    <li class="active"><span class="bubble"></span><span>STEP 2：投稿内容の入力</span></li>
  </ul>

  <div class="post__form">
    <%= render "posts/form" %>
  </div>
</div>
